.Home {
  background-image: url("https://cdn.mos.cms.futurecdn.net/6rZwnE5B8tqdfoBYEebifi-1200-80.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  
}
  
body, html {
  height: 100%;
}

h1{
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 700px;
  background-color: rgb(122, 182, 199);
  Color: white;
  position: relative 
}

